*{
    margin:0;
    padding: 0;
}
body{
    background: rgb(151, 151, 195);
    height: 100%;
    width: 100%;
}
h1{
    color: #ffff;
    font-size: 84px;
    font-weight: 600;
    text-align: center;
}